.content {
  grid-area: c;
  background-color: cornflowerblue;
}

.posts {
  padding-top: 10px;
}

.buttons {
  display: flex;
  gap: 10px;
  padding-top: 5px;
}


.postsBlock {
  padding: 10px;
}

.postArea {
  display: flex;
  align-items: center;
  gap: 10px;
}

.textArea {
  border: 50px;
}